<nav class="navbar navbar-light bg-light sticky-top bg-gradient">
    <div class="container-fluid ms-4">
      <a class="navbar-brand" href="#">
        <img src="https://www.medibuddy.in/assets/logos/medibuddyWithName.svg" alt="" width="200" height="40" class="d-inline-block align-text-top">
       
      </a>
    
    <div class="text-end me-5 mt-2 sticky-top">
        <a class="text-decoration-none fw-semibold cursor">About Us</a>
        <a class="text-decoration-none ms-3 fw-semibold cursor" data-bs-toggle="modal" data-bs-target="#exampleModal1"  *ngIf="!isUserLoggedIn">Login</a>
        <span class="ms-3 fw-semibold cursor" *ngIf="isUserLoggedIn">{{userDetails.userName}}</span>
       <i class="bi bi-cart ms-3 fs-3 cursor" routerLink="/cart"></i><span class="border rounded-circle px-1 bg-danger cartItem text-white">{{cartCounter}}</span>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{actionName === 'signUp'? 'Sign Up':'Sign In'}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <app-sign-in *ngIf="actionName === 'signIn'" (emitAction)="getAction($event)"></app-sign-in>
        <app-sign-up *ngIf="actionName === 'signUp'" ></app-sign-up>
      </div>
      <div class="d-grid gap-2 m-3">
        <button class="btn btn-primary position-relative bottom-50" type="button" *ngIf="actionName === 'signUp'" (click)="changeAction('signIn')">Sign In</button>
        <button class="btn btn-primary position-relative bottom-50" type="button" *ngIf="actionName === 'signIn'" (click)="changeAction('signUp')">Sign Up</button>
      </div>
    </div>
  </div>
</div>
