<div class="container">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of topDeals|async">
      <ng-template carouselSlide [id]="item.id">
        <div class="card rounded-3 mt-5 carouselSlide">
          <img [src]="item.productImageSlug[0]" class="" alt="..." height="170" width="170" [routerLink]="['/view-product-details',item.drugCode]">
          <div class="card-body">
            <h5 class="card-title card-description">{{item.name}}</h5>
            <p class="card-text">{{item.type}}</p>
            <p class="card-text">MRP ₹&nbsp;<span class="me-2 text-decoration-line-through"
                *ngIf="item.actualPrice!=item.discountPrice">{{item.actualPrice}}</span>{{item.discountPrice}}<button
                type="button" class="btn btn-outline-primary ms-3 rounded-4 float-end">ADD</button>
            </p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
  




<!-- <ng-template carouselSlide><div class="card rounded-3" style="width: 16rem;">
    <img src="https://mb-meds-assets.medibuddy.in/medicineImages/10014260.jpg" class="card-img-top" alt="..." height="170" width="170">
    <div class="card-body">
      <h5 class="card-title">HIMALAYA NEEM & TURMERIC SOAP 125GM</h5>
      <p class="card-text">BOX</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div></ng-template>  
  <ng-template carouselSlide><div class="card rounded-3" style="width: 16rem;">
    <img src="https://mb-meds-assets.medibuddy.in/medicineImages/1000050509.jpg" class="card-img-top" alt="..." height="170" width="170">
    <div class="card-body">
      <h5 class="card-title">Dettol Antiseptic Liquid Bottle Of 125 Ml</h5>
      <p class="card-text">BOTTLE</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div></ng-template>  
  <ng-template carouselSlide><div class="card rounded-3" style="width: 16rem;">
    <img src="https://mb-meds-assets.medibuddy.in/medicineImages/10232784.jpg" class="card-img-top" alt="..." height="170" width="170">
    <div class="card-body">
      <h5 class="card-title">Whisper Choice Wings Sanitary Pads Regular-7 Pads</h5>
      <p class="card-text">PACKET</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div></ng-template>  
  <ng-template carouselSlide><div class="card rounded-3" style="width: 16rem;">
    <img src="https://mb-meds-assets.medibuddy.in/medicineImages/1000054657.jpg" class="card-img-top" alt="..." height="170" width="170">
    <div class="card-body">
      <h5 class="card-title">ENO LEMON SACHETS 5GM</h5>
      <p class="card-text">Packet</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div></ng-template>  

<div>Some tags after</div> -->