<div class="container border-transparant w-75 mt-2">
  <nav class="navbar navbar-extend-lg justify-content-around">
    <div class="align-item-centermt border shadow">
      <img class="m-2" src="https://www.medibuddy.in/assets/services/doctor.svg" width="100" height="50">
      <h6 class="mt-1 m-3"><a>Talk to Doctor</a></h6>
    </div>
    <div class="align-item-center ">
      <img src="https://www.medibuddy.in/assets/services/medicine.svg" width="100" height="50">
      <h6 class="mt-2 m-3 "routerLink="/medicine-home"> medicine</h6>
    </div>
    <div class="align-item-center">
      <img src="https://www.medibuddy.in/assets/services/surgery.svg" width="100" height="50">
      <h6 class="mt-2 m-3"><a>surgery</a></h6>
    </div>
    <div class="align-item-center">
      <img src="https://www.medibuddy.in/assets/services/mb-gold.svg" width="100" height="50">
      <h6 class="mt-2 m-2"><span style="color: rgb(63,120,243);">Medi</span>
        <span style="color: rgb(230,36,35);">Buddy</span>
      </h6>
      <span class="gold-text m-4">GOLD</span>
    </div>
    <div class="align-item-center ">
      <img src="https://www.medibuddy.in/assets/services/insurance.svg" width="100" height="50">
      <h6 class="mt-2 m-3"><a>insurance</a></h6>
    </div>
    <div class="align-item-center ">
      <img src="https://www.medibuddy.in/assets/services/labtest.svg" width="100" height="50">
      <h6 class="mt-2 m-2"><span>Lab Test &</span>
        <div class="m-1"> Packages</div>
      </h6>
    </div>
    <div class="align-item-center"><i class="bi bi-three-dots-vertical dot"></i>
      <h6 class="mt-2">More</h6>
    </div>

  </nav>
</div>

<div class="container border mt-4 shadow rounded-pill w-75">
  <div class="row d-flex">
    <div class="col-6 consult mt-5">
      <h5 class=" text-center fw-semibold ">Consult with Top Doctors Only,24x7</h5>
    </div>
    <div class="col-3 text-center border shadow rounded-pill mt-4 heading p-2">
      <a class="text-center text-decoration-none">Start Consultation<i class="bi bi-arrow-right m-4 p-1"></i></a>

    </div>
  </div>
</div>

<div class="container mt-3">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="homepage">
      </div>
      <div class="carousel-item">
        <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
          alt="surgeryBanners">
      </div>
      <div class="carousel-item">
        <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="goldhome">
      </div>
      <div class="carousel-inner">
        <div class="carousel-item ">
          <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100" alt="consult">
        </div>
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="labs-home">
          </div>
          <div class="carousel-inner">
            <div class="carousel-item ">
              <img src="https://www.medibuddy.in/assets/medicine-home.webp" class="d-block w-100" alt="medicine-home">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content row mt-3">
    <a><img src="https://www.medibuddy.in/assets/ABHA.svg" alt="ABHA card"></a>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6 mt-5">
      <span class=" medi pull-left">Medi</span>
      <span class="Buddy">Buddy&nbsp;</span>
      <span class="gold-text">GOLD</span>

      <div class="rb-gradient-text mt-4">
        <span>Give the care your</span>
        <div>family deserves</div>
      </div>
      <div class="clearfix Consultation mt-4">
        <pre> Consultations with top Doctors for 
 6 family members in 18+ specialities</pre>
      </div>
      <button class="btn gold mt-4">Buy Medibuddy Gold<i class="bi bi-arrow-right m-4 p-1"></i></button>
    </div>
    <div class="container col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="card shadow consultation card ms-5 mt-5">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
              class="card-img-top mx-5 mt-2" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-2">Unlimited Free Consultations</h5>
              <p class="card-text mt-2">Get unlimited free consultations with all <span class="fw-semibold">doctors
                  24x7</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-5 position-card">
          <div class="card shadow consultation card ms-5 mt-5">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top mx-5 mt-2"
              alt="...">
            <div class="card-body">
              <h5 class="card-title mt-2">Free For Full Family</h5>
              <p class="card-text mt-2">Free consultations for upto <span class="fw-semibold">6 family members</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-3 ">
          <div class="card shadow consultation card ms-5">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="card-img-top mx-5 mt-2"
              alt="...">
            <div class="card-body">
              <h5 class="card-title mt-2">Free For All Health Problems</h5>
              <p class="card-text mt-2">Consult with any doctor from <span class="fw-semibold">18 departments</span> at
                any time </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-3 position-card">
          <div class="card shadow consultation card ms-5 mt-4">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg"
              class="card-img-top mx-5 mt-2" alt="...">
            <div class="card-body">
              <h5 class="card-title mt-2">Video Consultations</h5>
              <p class="card-text mt-2">Video Consults with top doctors <span class="fw-semibold">24x7</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1 class="Insurance-text mt-5 ms-5">Insurance</h1>
  <h5 class="Insurance-text mt-3 ms-5">Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with
    network hospitals and intimate Hospitalization</h5>

<div class="d-flex justify-content-between mt-5">
  <div class="card shadow Insurance-card ms-5">
    <div class="card-body">
      <h5 class="card-title-insurance mt-2"> E-Card<i class="bi bi-arrow-right m-4 p-1"></i></h5>
      <p class="card-text mt-2"> Get e-cards for you and your family members</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg" class="insurance-image mt-5 ms-5"
      alt="...">
    </div>
  </div>
  <div class="card shadow Insurance-card ms-5">
    <div class="card-body">
      <h5 class="card-title-insurance mt-2">Claims<i class="bi bi-arrow-right m-4 p-1"></i></h5>
      <p class="card-text mt-2"> Track your claims in real-time</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg" class="insurance-image mt-5 ms-5"
      alt="...">
    </div>
  </div>
  <div class="card shadow Insurance-card ms-5">
    <div class="card-body">
      <h5 class="card-title-insurance mt-2">Plan<i class="bi bi-arrow-right m-4 p-1"></i>Hospitalization</h5>
      <p class="card-text mt-2">Plan and Intimate hospitalization at trusted hospitals</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class="insurance-image mt-2 ms-5"
      alt="...">
    </div>
  </div>
  <div class="card shadow Insurance-card ms-5">
    <div class="card-body">
      <h5 class="card-title-insurance mt-2">Network<i class="bi bi-arrow-right m-4 p-1"></i> Hospitals</h5>
      <p class="card-text mt-2">Search for the nearest Network hospital to go cashless</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="insurance-image mt-2 ms-5"
      alt="...">
    </div>
  </div>
  <div class="card shadow Insurance-card ms-5">
    <div class="card-body">
      <h5 class="card-title-insurance mt-2">Empanel<i class="bi bi-arrow-right m-4 p-1"></i>Hospitals</h5>
      <p class="card-text mt-2">Become a part of Network Hospitals</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="insurance-image mt-4 ms-5"
      alt="...">
    </div>
  </div>
</div>
<div class="mt-5">
<a><img src="https://www.medibuddy.in/assets/surgery.svg" class="img-fluid w-100 shadow-lg border-transparant mt-5"></a>
</div>
<div class="container">
   <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner mt-5">
        <div class="carousel-item active">
          <img src="https://www.medibuddy.in/assets/banners/mb-gold.webp" class="d-block-advertize" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.medibuddy.in/assets/banners/gptw.webp" class="d-block-advertize" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.medibuddy.in/assets/banners/covid.webp" class="d-block-advertize" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
